<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.minions.statistic.mapper.StatisticMapper">

    <resultMap id="ProvinceMap" type="com.minions.statistic.bean.GeneralStatistic">
        <result property="name" column="province_name"/>
        <result property="value" column="order_amount"/>
    </resultMap>
    <resultMap id="KeywordMap" type="com.minions.statistic.bean.GeneralStatistic">
        <result property="name" column="keyword"/>
        <result property="value" column="ct"/>
    </resultMap>
    <resultMap id="CategoryMap" type="com.minions.statistic.bean.GeneralStatistic">
        <result property="name" column="category3_name"/>
        <result property="value" column="order_amount"/>
    </resultMap>
    <resultMap id="TrademarkMap" type="com.minions.statistic.bean.GeneralStatistic">
        <result property="name" column="tm_name"/>
        <result property="value" column="order_amount"/>
    </resultMap>


    <select id="getGMV" resultType="java.math.BigDecimal">
        SELECT SUM(order_amount) AS order_amount
        FROM product_statistics
        WHERE toYYYYMMDD(start_time) = #{date}
    </select>
    <select id="getProvinceStatistic" resultMap="ProvinceMap">
        SELECT province_name, SUM(order_amount) AS order_amount
        FROM province_statistics
        WHERE toYYYYMMDD(start_time) = #{date}
        GROUP BY province_id, province_name
    </select>
    <select id="getKeywordStatistics" resultMap="KeywordMap">
        SELECT keyword,
               SUM(keyword_statistics.keyword_count *
                   multiIf(source = 'SEARCH', 10, source = 'ORDER', 3, source = 'CART', 2, source = 'CLICK', 1,
                           0)) AS ct
        FROM keyword_statistics
        WHERE toYYYYMMDD(start_time) = #{date}
        GROUP BY keyword
        ORDER BY SUM(keyword_statistics.keyword_count) DESC
    </select>
    <select id="getProductStatisticsGroupByCategory3" resultMap="CategoryMap">
        SELECT category3_id, category3_name, SUM(order_amount) AS order_amount
        FROM product_statistics
        WHERE toYYYYMMDD(start_time) = #{date}
        GROUP BY category3_id, category3_name
        HAVING order_amount > 0
        ORDER BY order_amount DESC
    </select>
    <select id="getProductStatsByTrademark" resultMap="TrademarkMap">
        SELECT tm_name, SUM(order_amount) AS order_amount
        FROM product_statistics
        WHERE toYYYYMMDD(start_time) = #{date}
        GROUP BY tm_id, tm_name
        HAVING order_amount > 0
        ORDER BY order_amount DESC
    </select>
</mapper>
